.nav-landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .nav-landing h2 {
    font-size: 30px;
    margin: 0;
  }
  
  .nav-landing h3 {
    font-size: 18px;
    margin: 0;
    padding: 0 10px;
  }
  
  .nav-landing h2 a,
  .nav-landing h3 a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
  }
  
  .nav-landing h2 a:hover,
  .nav-landing h3 a:hover {
    color: #ff6347;
  }
  
  .cards-container {
    display: flex;
  }
  .restaurants-card {
    display: flex;
    flex-direction: column;
    background-color: #f3e1c9fe;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 20px;
    max-width: 500px;
  }
  
  .restaurants-card h2 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
  }
  
  .restaurants-card h4 {
    font-size: 18px;
    margin: 0px 0;
  }
  
  .restaurants-card h4:first-of-type {
    margin-top: 0;
  }
  
  .restaurants-card h4:last-of-type {
    margin-bottom: 0;
  }
  
  .restaurants-card .reviews {
    margin-top: 20px;
  }
  
  .restaurants-card .reviews h4 {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .restaurants-card .reviews h4:first-of-type {
    margin-top: 0;
  }
  
  .restaurants-card .reviews h4:last-of-type {
    margin-bottom: 0;
  }
  