@keyframes background-animation {
  0% { background-image: url('/public/image1.jpg'); }
  20% { background-image: url('/public/image2.jpg'); }
  40% { background-image: url('/public/image3.jpg'); }
  60% { background-image: url('/public/image4.jpg'); }
  80% { background-image: url('/public/image5.jpg'); }
  100% { background-image: url('/public/image6.jpg'); }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  animation-name: background-animation;
  animation-duration: 90s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
